*{
    margin: 0;
    padding: 0;
}
nav a{
    text-decoration: none;

}
nav{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    height: 30px;
}
header{
    background-color: cornsilk;
}
#image{
    background-color: blueviolet;
    display: flex;
    height: 200px;
    width: 600px;   
    justify-content: center; 
    align-items: center;
    border: 5px solid blue;
}
#flexcontainer{
    height: 200px;
    width: 700px;
    background-color: khaki;
    display: flex;
    flex-direction: row;
}
.box{
    height: 70px;
    width: 70px;
    border: 2px solid black;
    
    
}
#box1{
    background-color: pink;

}
#box2{
    background-color: yellow;
    flex-shrink: 2;
    flex-grow: 2;
}
#box3{
    background-color: blueviolet;
}
#media_queries{
    height: 50px;
    width: 50px;
    background-color: green;
}
@media screen and (min-width: 300px) and (max-width: 400px) {
    #media_queries{
        background-color:red;

    }
}
@media screen and (min-width: 400px)  {
    #media_queries{
        background-color:blue;

    }
}